{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title_block %}
Loan Request
{% endblock %}


{% block body_block %}

{% include 'navbar.html' %}
<div class="container my-5">

    <div class="row mb-5">
        <div class="p-5 m-auto rounded shadow-lg col-md-6 bg-body">
            <h3 class="text-center text-success"> Tuma Ombi la Mkopo</h3>
            </h3>
            <form method="POST" class="my-5">

                {% csrf_token %}


                <div class="mb-4 input-group">
                    <div class="input-group-text">Aina ya Mkopo</div>
                    {% render_field form.category|attr:'required:true' class="form-control" %}
                </div>




                <div class="mb-4 form-outline">

                    {% render_field form.reason|attr:'required:true' class="form-control" %}
                    <label class="form-label">Sababu Ya Kuomba Mkopo</label>
                </div>

                <div class="mb-4 form-outline">

                    {% render_field form.amount|attr:'required:true' type="number" class="form-control" %}
                    <label class="form-label">Kiwango Cha Mkopo</label>
                </div>



                <div class="mb-4 form-outline">

                    {% render_field form.year|attr:'required:true' type="number" class="form-control" %}
                    <label class="form-label">Je Utarudisha Baada ya Miezi Mingapi..?</label>
                </div>

                <!-- 2 column grid layout for inline styling -->
                <div class="mb-4 row ">
                    <div class="col">
                        <!-- Checkbox -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" checked />
                            <label class="form-check-label"> Remember me </label>
                        </div>
                    </div>


                </div>

                <button type="submit" class="mb-4 btn btn-primary btn-block">Tuma Ombi</button>




            </form>
        </div>
    </div>





</div>

{% include "footer.html" %}

{% endblock %}